.container {
    position: fixed;
    top: 6.4rem;
    right: 0;
    bottom: 0;
    left: 22rem;
    z-index: 1;
    transition: padding .35s cubic-bezier(.4, 0, .2, 1);
    min-height: 100%;
}

.container > div {
    cursor: text;
    font-size: 21px;
    line-height: 33px;
    min-height: 40px;
    padding: 30px;

}